absl-py
anyio
argon2-cffi
argon2-cffi-bindings
asttokens
async-lru
attrs
Babel
beautifulsoup4
bleach
certifi
cffi
charset-normalizer
colorama
comm
contourpy
cycler
debugpy
decorator
defusedxml
exceptiongroup
executing
fastjsonschema
filelock
fonttools
fsspec
grpcio
h11
httpcore
httpx
idna
imageio
importlib-metadata
importlib-resources
ipykernel
ipython
ipywidgets
jedi
Jinja2
joblib
json5
jsonschema
jsonschema-specifications
jupyter
jupyter-client
jupyter-console
jupyter-core
jupyter-events
jupyter-lsp
jupyter-server
jupyter-server-terminals
jupyterlab
jupyterlab-pygments
jupyterlab-server
jupyterlab-widgets
kiwisolver
lazy-loader
lightning-utilities
Markdown
MarkupSafe
matplotlib
matplotlib-inline
mistune
mpmath
nbclient
nbconvert
nbformat
nest-asyncio
networkx
notebook
notebook-shim
numpy
opencv-python
overrides
packaging
pandocfilters
parso
pillow
platformdirs
prometheus-client
prompt-toolkit
protobuf
psutil
pure-eval
pycparser
pygments
pyparsing
python-dateutil
python-json-logger
pywin32
pywinpty
PyYAML
pyzmq
qtconsole
QtPy
referencing
requests
rfc3339-validator
rfc3986-validator
rpds-py
scikit-image
scikit-learn
scipy
Send2Trash
six
sniffio
soupsieve
stack-data
sympy
tensorboard
tensorboard-data-server
terminado
threadpoolctl
tifffile
tinycss2
tomli
torch
torchaudio
torchmetrics
torchvision
tornado
tqdm
traitlets
typing-extensions
urllib3
wcwidth
webencodings
websocket-client
werkzeug
widgetsnbextension
zipp
